* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
}
// Variables -----------------------
$primary-green: #37af29;
$secondary-green: #24e20f;
// FONT ----------------------------
@font-face {
    font-family: 'recursive';
    src: url(fonts/Recursive/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf);
    font-weight: 300 1000;
    font-style: normal;
}
@font-face {
    font-family: 'nunito';
    src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf);
    font-weight: 200 1000;
    font-style: normal;
}

// Animation Spin -------------------
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// .test {
//     border: white thick solid;
//     width: 20em;
//     height: 20em;
//     border-radius: 50%;
//     border-top: blue thick solid;
//     animation-name: spin;
//     animation-duration: 2s;
//     animation-iteration-count: infinite;
//     animation-timing-function: linear;
// }
// img {
//     height:max-content;
//     width: 100%;
// }

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: $secondary-green;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 0px 10px 0px 10px;
  cursor: pointer;
  transition: opacity 0.3s;
  height: 5%;
  width: 15%;
  font-family: 'recursive';
  font-variation-settings: 'wght' 600;
}

#scroll-to-top:hover {
  opacity: 0.6;
}
nav {
    height: 20vh;
    background-color: whitesmoke;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 40px;
    .list {
        display: flex;
        justify-content: space-around;
        width: 60vw;
        li {
            list-style-type: none;
            text-decoration: none;
            // font-family: 'recursive';
            font-family: 'nunito';
            font-variation-settings: 'wght' 500;
            font-size: 2rem;
            color: #000000;
        }
    }
    
    .logo {
        height: max-content;
        width: 30%;
        min-width: 280px;
    }
}
// Carousel stuff -------------------------
#car-holder {
  display: flex;
  justify-content: center;
//   padding-bottom: 30px;
}
#slider {
  width: 1000px;
}
.carousel-caption {
  bottom: 50%;
  transform: translate(0, 50%);
}
.carousel-caption h5 {
  font-size: 5rem;
  font-weight: 700;
  color: white;
  background: rgba(0, 0, 0, 0.342);
  
}
// carousel stuff end -----------------------

// about me start ---------------------------
.about {
    margin-top: 40px;
    .divider {
        height: 8vh;
        background-color: $primary-green;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-family: 'nunito';
            font-variation-settings: 'wght' 700;
        }
    }
    .me {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        img {
            height: min-content;
            width: 40%;
        }
        .words {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px;
            padding-right: 20px;
            p {
                font-family: 'nunito';
                font-size: 1.2rem;
            }
        }
    }
    .likes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
        h2 {
            font-family: 'nunito';
            font-variation-settings: 'wght' 500;

        }
        .likes-holder {
            display: flex;
            justify-content: space-around;
            height: 60%;
            #vinyl {
                    animation-name: spin;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;

            }
            .like-card {
                // background-color: #ffffff;
                width: 20%;
                height: 30%;
                img {
                    height: max-content;
                    width: 100%;
                }
            }
        }
    }
}
// about me end -----------------------------