* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
}
// Variables -----------------------
$primary-green: #54b948;
// Animation Spin -------------------
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// .test {
//     border: white thick solid;
//     width: 20em;
//     height: 20em;
//     border-radius: 50%;
//     border-top: blue thick solid;
//     animation-name: spin;
//     animation-duration: 2s;
//     animation-iteration-count: infinite;
//     animation-timing-function: linear;
// }
// img {
//     height:max-content;
//     width: 100%;
// }
nav {
    height: 20vh;
    background-color: whitesmoke;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 40px;
    // box-shadow: 0px 5px 30px black;
    // margin-bottom: 30px;
    .list {
        display: flex;
        justify-content: space-around;
        width: 60vw;
        li {
            list-style-type: none;
            text-decoration: none;
        }
    }
    
    .logo {
        height: max-content;
        width: 30%;
    }
}
// Carousel stuff -------------------------
#car-holder {
  display: flex;
  justify-content: center;
//   padding-bottom: 30px;
}
#slider {
  width: 1000px;
}
.carousel-caption {
  bottom: 50%;
  transform: translate(0, 50%);
}
.carousel-caption h5 {
  font-size: 5rem;
  font-weight: 700;
  color: white;
  background: rgba(0, 0, 0, 0.342);
  
}
// carousel stuff end -----------------------