* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

@font-face {
  font-family: "recursive";
  src: url(fonts/Recursive/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf);
  font-weight: 300 1000;
  font-style: normal;
}
@font-face {
  font-family: "nunito";
  src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf);
  font-weight: 200 1000;
  font-style: normal;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #24e20f;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 0px 10px 0px 10px;
  cursor: pointer;
  transition: opacity 0.3s;
  height: 5%;
  width: 15%;
  font-family: "recursive";
  font-variation-settings: "wght" 600;
}

#scroll-to-top:hover {
  opacity: 0.6;
}

nav {
  height: 20vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}
nav .list {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}
nav .list li {
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
  font-family: "nunito";
  font-variation-settings: "wght" 500;
  font-size: 2rem;
  color: #000000;
  transition: all 300ms ease-in-out;
}
nav .list li:hover {
  color: #24e20f;
  font-size: 2.25rem;
}
nav .logo {
  height: -moz-max-content;
  height: max-content;
  width: 30%;
  min-width: 280px;
}

#car-holder {
  display: flex;
  justify-content: center;
}

#slider {
  width: 1000px;
}

.carousel-caption {
  bottom: 50%;
  transform: translate(0, 50%);
}

.carousel-caption h5 {
  font-size: 5rem;
  font-weight: 700;
  color: white;
  background: rgba(0, 0, 0, 0.342);
}

.about {
  margin-top: 40px;
}
.about .divider {
  height: 8vh;
  background-color: #37af29;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .divider h1 {
  font-family: "nunito";
  font-variation-settings: "wght" 700;
}
.about .me {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.about .me img {
  height: -moz-min-content;
  height: min-content;
  width: 40%;
  max-width: 530px;
}
.about .me .words {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-right: 20px;
}
.about .me .words p {
  font-family: "nunito";
  font-size: 1.2rem;
}
.about .likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  padding: 40px;
}
.about .likes h2 {
  font-family: "nunito";
  font-variation-settings: "wght" 500;
  margin-bottom: 40px;
}
.about .likes .likes-holder {
  display: flex;
  justify-content: space-around;
  height: 60%;
}
.about .likes .likes-holder #vinyl {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.about .likes .likes-holder .like-card {
  width: 15%;
  height: 30%;
  transition: all 400ms ease-in-out;
}
.about .likes .likes-holder .like-card img {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}
.about .likes .likes-holder .like-card:hover {
  scale: 1.2;
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.experience .accord {
  width: 50%;
}
.experience .accord h1 {
  justify-self: center;
  font-family: "nunito";
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.contact-form .divider {
  height: 8vh;
  background-color: #37af29;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.contact-form .divider h1 {
  font-family: "nunito";
  font-variation-settings: "wght" 700;
}
.contact-form .contact-contents {
  display: flex;
  width: 80%;
  background-color: #ffffff;
  box-shadow: black 5px 5px 30px;
}
.contact-form .contact-contents .image {
  width: 70%;
  background-image: url(assets/laptopandplant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.contact-form .contact-contents .form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
}
.contact-form .contact-contents .form form input {
  width: 100%;
}
.contact-form .contact-contents .form form #submit {
  background-color: #24e20f;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 0px 10px 0px 10px;
}/*# sourceMappingURL=style.css.map */